<h2>Repository Search</h2>

<div class="form-field-group">
    <mat-form-field class="example-form-field">
        <mat-label>Search key</mat-label>
        <input matInput type="text" [(ngModel)]="searchKeyword" (keyup.enter)="search()">
        <mat-error *ngIf="!searchKeyword">
            Please enter a keyword to search
        </mat-error>
        <button matSuffix mat-icon-button (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>

<mat-spinner class="custom-spinner" *ngIf="loading$ | async"></mat-spinner>

<div class="repo-list">
    <mat-card *ngFor="let repo of repositories">
        <img mat-card-avatar [src]="repo.avatar" alt="Avatar">
        <mat-card-title>{{ repo.name }}</mat-card-title>
        <button mat-icon-button (click)="bookmark(repo)">
            <mat-icon>bookmark</mat-icon>
        </button>
    </mat-card>
</div>