h2 {
    text-align: center;
}

.example-form-field {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-field-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-spinner {
    margin-left: auto;
    margin-right: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.example-card {
    width: 200px;
    margin: 5px;
}

.example-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title-container {
    flex: 1;
    overflow: hidden;
}

.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }